{% extends "base.html" %}
{% block title %} Contato {% endblock %}
{% block content %}
<div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Sobre nós
                    </h1>
                    <h2 class="splash-subhead">
                        Somos a maior plataforma agregadora de conhecimento.
                    </h2>
                    <p>
                        Através da nossa plataforma profissionais de ensino podem distribuir
                        seus cursos e alcançar mais alunos. Você que é expert em qualquer profissão
                        pode criar seus cursos e distribuir online tudo através da nossas
                        ferramentas de divulgação.
                        Empresas podem criar seus Webinars e Workshops online e divulgar entre nossos
                        alunos e parceiros. Além de todas essas vantagens as empresas podem criar
                        Hackathons online, onde abre inscrições limitadas para os participantes,
                        lança o desafio e acompanha todas as entregas e evolução dos projetos.
                        Tudo em tempo real.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}